body,
html
	font-size: $base
	font-family: "PT Sans"
	font-weight: bold
	height: 100%

.out
	height: 100%
	min-height: 100%

.inner
	max-width: 1000px
	margin: 0 auto
	padding: 0 10px
	width: 100%
	+clr