.content
	min-height: 100%
	padding-bottom: 250px
	.container
		padding-left: 185px
		display: block
	.items
		margin-bottom: 20px
		font-size: 0
		margin-left: -7px
		margin-right: -7px
		padding-left: 20px
	.item
		display: inline-block
		vertical-align: top
		width: 33.3333%
		padding: 10px 7px
		&__img
			img
				max-width: 100%
				height: auto
		&__inner
			background-color: $gray
			padding: 20px
		&__text
			font-size: $font-md
			color: $grayLink
			font-weight: 400
			font-style: normal
			margin-top: 20px
		&__controls
			margin-top: 50px
			display: flex
			align-items: center
			justify-content: space-between
		&__price
			font-size: $font-lg
			color: $grayMid
			font-weight: 700
		&__basket
			margin-right: 18px
			text-decoration: none
			cursor: pointer
			&-icon
				display: block
	.text
		font-size: 0
		margin-bottom: 200px
	.text__row
		margin-left: -20px
		margin-right: -20px
	.text__col
		width: 50%
		display: inline-block
		vertical-align: top
		font-size: 16px
		padding: 0 20px
		p
			color: $grayLink
			font-size: $base
			line-height: 1.57