---
title: SunBurn test task
---

extends layouts/_layout
block content
	include ./partials/_header

	// BEGIN .slider
	.slider
		.inner.slider__inner
			.js-slider-btns
		.js-slider.slider__container
			-
				var slides = [
				{image: 'img/slide-1.png'},
				{image: 'img/slide-2.png'},
				{image: 'img/slide-1.png'},
				{image: 'img/slide-2.png'},
				{image: 'img/slide-1.png'}
				]
			each item in slides
				.item
					.item__img
						img(src=(item.image), alt="Slider image")
	// END .slider

	// BEGIN .content
	.content
		.inner
			-
				var breadcrumbs = [
				{breadcrumb: 'Главная'},
				{breadcrumb: 'Каталог'},
				{breadcrumb: 'Бытовая техника'}
				]
			ul(class="breadcrumbs")
				each item in breadcrumbs
					li(class="breadcrumbs__item")
						a(class="breadcrumbs__link", href="#")= item.breadcrumb

			include ./partials/_sidebar
			// BEGIN .container
			.container
				-
					var items = [
					{price: '1 900 р.', text: 'Самый клевый чайник, который надо купить! Самый клевый чайник, который надо купить!', img: 'img/nophoto.png'},
					{price: '1 900 р.', text: 'Самый клевый чайник, который надо купить!', img: 'img/nophoto.png'},
					{price: '1 900 р.', text: 'Самый клевый чайник, который надо купить!', img: 'img/nophoto.png'},
					{price: '1 900 р.', text: 'Самый клевый чайник, который надо купить!', img: 'img/nophoto.png'},
					{price: '1 900 р.', text: 'Самый клевый чайник, который надо купить!', img: 'img/nophoto.png'}
					]
				// BEGIN .items
				.items
					each item in items
						.item
							.item__inner
								a.item__img(href="#")
									img(src=(item.img), alt="product image")
								a.item__text(href="#")
									=item.text
								.item__controls
									a.item__price(href="#")= item.price
									a(class="item__basket", href="#")
										+iconPng('basket', 'item__basket-icon')
				// END .items

				// BEGIN .pagination
				ul.pagination
					-
						var pagination = [
						{text: '1'},
						{text: '2'},
						{
							text: '3',
							active: true
						},
						{text: '4'},
						{text: '5'},
						{text: '6'},
						{text: '7'}
						]
					each item in pagination
						li.pagination__item
							a.pagination__link(href="#", class= (item.active === true ? "is-current" : undefined))= item.text
				// END .pagination

				// BEGIN .text
				.text
					.text__row
						.text__col
							p Компания «Пиксель Плюс» существует более 6 лет, за это время мы принимали участие в разработке более чем 700 сайтов, поэтому можем уверенно называть себя профессионалами. На данный момент наш коллектив состоит из более чем 30 сотрудников работающих в двух офисах в Москве и Зеленограде.характерные для этого жанра мотивы: неразделённой любви, ухода молодости, угасания души.
						.text__col
							p Одним из основных направлений работ нашей компании является поисковое продвижение сайтов, на данной момент мы работаем с более чем 150 постоянными клиентами по более чем 11 000 поисковым запросам. При этом в работе основной акцент мы делаем на качестве работ, а так же применяем собственные уникальные разработки в области SEO продвижения. На данный момент отдел SEO состоит из 9 человек под руководством ведущего специалиста, преимущественно работающих в нашем московском офисе.
				// END .text
			// END .container
	// END .content

	include ./partials/_footer
