// BEGIN .footer
footer(class="footer")
	.inner
		.row
			- var menuLink = [ {link: 'Главная'}, {link: 'Каталог'}, {link: 'Доставка и оплата'}, {link: 'Прайс-лист'}, {link: 'Контакты'}]
			.col
				ul.menu.menu_footer
					each item in menuLink
						li.menu__item
							a.menu__link(href="#")
								=item.link

			.col
				.logo.footer_logo
					+iconPng('logo-footer footer_logo-icon')
					a(href="#" class="footer_logo-title") Разработка сайта
					span(class="footer_logo-meta") компания «Пиксель Плюс»

			.col.col_copy
				p(class="footer__copy") © 2012–2013 ЗАО «Компания»
					a(href="mailto:info@name.ru") info@name.ru
// END .footer