// BEGIN .header
header(class="header")
	.inner
		.header__logo
			.logo.header__logo-icon
			span.header__title Название
				br
				| компании
			span.header__meta самая клевая компания

		.header__info
			.header__links
				a(class="header__link" href="tel:+74997777777") +7(499) 777-77-77
				a(class="header__link" href="tel:+74997777777") +7(499) 777-77-77
				a(class="header__link header__link_feedback") Обратная связь
// END .header
