include _mixins
doctype html
html(lang="ru")
  head
    include _head

  body(class=bodyClass)
    //BEGIN out
    .out(class=outClass)
      block content
    //END out
    //LOAD SCRIPTS
    block scripts
      script(src="js/app.js")
