$icons: (0:0)
$icons: map-merge($icons,('basket': (X: -107px, Y:-48px, W: 28px, H: 21px, TW: 143px, TH: 111px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('exel': (X: 0px, Y:0px, W: 97px, H: 111px, TW: 143px, TH: 111px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('logo-footer': (X: -107px, Y:0px, W: 36px, H: 38px, TW: 143px, TH: 111px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)

//
.icon-basket
  width: 28px
  height: 21px
  background-image: url('../img/sprite.png')
  background-position: -107px -48px
//
.icon-exel
  width: 97px
  height: 111px
  background-image: url('../img/sprite.png')
  background-position: 0px 0px
//
.icon-logo-footer
  width: 36px
  height: 38px
  background-image: url('../img/sprite.png')
  background-position: -107px 0px
//