.footer
	padding: 50px 0
	background-color: $grayDark
	margin-top: -208px
	height: 208px
	+xs
		height: 268px
		margin-top: -268px
	+r(480)
		height: 385px
		margin-top: -385px
		text-align: center
		padding: 25px 0px
	&_logo
		+clr
		margin-left: auto
		max-width: 220px
		+r(480)
			margin: 20px auto 0
			padding-top: 20px
			border-top: 1px solid $gray
			max-width: 100%
		&-icon
			margin-right: 10px
			float: left
			+r(480)
				float: none
				display: block
				margin: 0 auto 10px
		&-title
			line-height: 1.375
			font-size: $base
			color: $white
			display: inline-block
			vertical-align: top
			position: relative
			&:hover
				text-decoration: none
			&:after
				content: ''
				position: absolute
				top: 50%
				right: -19px
				transform: translateX(-50%)
				width: 9px
				height: 1px
				background-color: $white
		&-meta
			color: currentColor
			color: $white
			font-size: $base
			margin-left: 5px
			display: block
			+r(480)
				margin-left: 0
	&__copy
		font-size: $base
		color: $white
		line-height: 1.375
		font-weight: 400
		a
			color: $white
			text-decoration: none
			display: block
		a:hover
			text-decoration: underline
	.col
		width: 33.3333%
		display: inline-block
		vertical-align: top
		+xs
			width: 50%
		+r(480)
			width: 100%
		&.col_copy
			float: left
			+xs
				width: 100%
				margin-top: 20px
				padding-top: 20px
				border-top: 1px solid $gray
	.row
		font-size: 0